#будут игнорироваться файлы, находящиеся в подкаталоге tmp
#слэш указывает на каталог
tmp/

#будут игнорироваться файлы, заканчивающиеся суффиксами _old, _backup. Любые символы можно заменить символом звёздочка *.
*_old
*_backup

#будут игнорироваться все файлы Thumbs.db
Thumbs.db 

#будут игнорироваться все файлы .DS_Store
.DS_Store
